services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    image: ghcr.io/adelz12/weekly-report-backend:latest
    container_name: backend
    ports:
      - "5001:5000"
    depends_on:
      - mongodb
    environment:
      - MONGO_URI=mongodb://mongodb:27017/weekly_report

  frontend:
    image: ghcr.io/adelz12/weekly-report-frontend:latest
    container_name: frontend
    ports:
      - "3001:80"
    depends_on:
      - backend

volumes:
  mongo_data:
